<p>listar-libro works!</p>
<!-- bs5-card-head-foot  bs5-table-default -->
<div class="card">
    <div class="card-header">
        Lista de libros de existencia
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Año</th>
                        <th scope="col">Editorial</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let li of Libros; let iControl=index">
                        <td>{{li.isbn}}</td>
                        <td>{{li.titulo}}</td>
                        <td>{{li.autor}}</td>
                        <td>{{li.anio}}</td>
                        <td>{{li.editorial}}</td>
                        <td>
                            <a routerLink="/editar-libro/{{li.isbn}}" class="a btn btn-success m-2">Editar</a>
                            <a (click)="borrarRegistro(iControl, li.isbn)" class="a btn btn-danger m-2">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>